<%- include ../partials/header.ejs %>
  <section class="update-event">
    <h1>Update Event</h1>
    <form class="" action="/api/events/<%= id %>" method="post">
      <label for="name">Name</label>
      <input id="event-name" type="text" name="name" value="">
      <label for="time">Date/time</label>
      <input id="event-time" type="datetime-local" name="time" value="">
      <label for="location">Location</label>
      <textarea id="event-location" name="location" rows=3></textarea>
      <label for="price">Price</label>
      <input id="event-price" type="text" name="price" value="">
      <label for="description">Description</label>
      <textarea id="event-description" name="description" rows="8"></textarea>
      <label for="image">Image URL</label>
      <input id="event-image" type="text" name="image" value="">
      <button type="submit" name="button">Update Event</button>
    </form>
  </section>
<%- include ../partials/footer.ejs %>
