    </div>
    <footer>
      <span><a href="https://github.com/louis-pham/dance-events">Source code</a></span>
      <span>Created by <a href="https://louis-pham.github.io">Louis Pham</a></span>
    </footer>
  </body>
  <script src="/javascripts/libraries/moment.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <% if (typeof loadJsFile !== "undefined") { %>
    <script src="<%= loadJsFile %>"></script>
  <% } %>
</html>
