<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Montserrat:300,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <% if (typeof loadCssFile !== "undefined") { %>
      <link rel="stylesheet" href="<%= loadCssFile %>">
    <% } %>
  </head>
  <body>
    <header>
        <span id="burger-menu" class="burger-menu"><i class="fas fa-bars"></i></span>
        <span class="logo">NoD.io</span>
    </header>
    <nav>
      <span class="logo"><a href="/">💃</a></span>
      <a class="button center" href="/events"><i class="fas fa-calendar-week"></i></a>
      <% if (loggedInUser) { %>
        <a class="button center" href="/events/new"><i class="far fa-calendar-plus"></i></a>
      <% } %>
      <a class="button center" href="/about"><i class="fas fa-info"></i></a>

      <% if (loggedInUser) { %>
 		    <a class="button center login" href="/profile"><i class="fas fa-user"></i></a>
 	    <% } else { %>
        <a class="button center login" href="/login"><i class="fas fa-sign-in-alt"></i></a>
 	    <% } %>
    </nav>
    <div class="container">
