<%- include partials/header.ejs %>
  <section class="login center">
    <h1>Login</h1>
    <!-- <form class="" action="index.html" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" value="">
      <label for="password">Password</label>
      <input type="password" name="password">
      <button type="submit">Log in</button>
    </form> -->
    <a class="btn" href="/auth/google"><i class="fab fa-google"></i> Login with Google</a>
  </section>
<%- include partials/footer.ejs %>
