<%- include partials/header.ejs %>
  <section class="login center">
    <h1>Login</h1>
    <a class="btn" href="/auth/google"><i class="fab fa-google"></i> Login with Google</a>
  </section>
<%- include partials/footer.ejs %>
