<%- include partials/header.ejs %>
  <section class="login center">
    <h1>My Profile</h1>
    <pre><%= user %></pre>
    <a class="btn" href="/logout">Logout</a>
  </section>
<%- include partials/footer.ejs %>
