.landing {
  background: black;
  color: white;
  min-height: 550px;
}

@media screen and (min-width: 700px) {
  .events-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .event {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1000px) {
  .events-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .event {
    font-size: 0.9em;
  }
}
